body {
background-color:#3F3F3F;
color:white;
font-family: "Arial", "Helvetica", sans-serif;
}
a:link {color:#00FF00;}
a:visited {color:#00FF00;}
a:hover {color:#FF00FF;}
#newslist {
list-style-type: none;
}
#submitform {
list-style-type: none;
text-align: justify;
}
.366{
width 366px;
padding:.75pt;
}
.142{
width:366px;
padding:.75pt;
}
#Plagertable{
width:732px;
border-color:black;
border: solid black;
}

.reper{
border-color:black;
border: solid black;
/*
margin-right:100px;
margin-left:100px;
*/
}

#Title{
text-align:center;
font-size:30px;
}

#cussions{
border: 100px solid;
border-top: 10px solid;
border-color: black;
margin:0px;
}

#Copyright{
border: 100px solid;
border-top: 10px solid;
border-color: black;
margin:0px;
}
.onlineres{
border: 1px;
border-color: black;
{